@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

.app-loader {
    animation: app-spin 1s linear infinite;
}

@keyframes app-spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
